.item {
    width: 200px;
    height: 200px;
    border: 1px solid rgba(77, 77, 77, 0.501);
    margin-top: 40px;
}
.images-slides {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.image-slide {
    width: 300px;
    height: auto;
}
.img-full {
    display: block;
    width: 50%;
    margin: 20px auto;
}